<div class="user-details">
    <h1> Featured Projects </h1>
</div>
<div class="user-projects">
    <div class="images-right">
        <img alt="mountains" src="{{ " /assets/img/Geospatial-image.jpg " | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
        <h3> Open Source Geospatial Analysis </h3>
        <ul>
            <li>Featured: Python, GDAL </li>
        </ul>
        <p>
            Various open source tools are available for geospatial analysis that are cross-platform. Various Python APIs have been developed to facilitate the task. 
        </p>
        <a class="project-link" href="projecting.html">Check it out</a>
    </div>
</div>
<div class="user-projects">
    <div class="images-left">
        <img alt="mountains" src="{{ '/assets/img/hydrology.jpeg' | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
        <h3> Water Resources </h3>
        <ul>
            <li> Featured: Hydrology, USGS </li>
        </ul>
        <p>
            Various open sources tools for facilitating climate analysis, hydrologic analysis and tools for environmental analysis have been presented here.
        </p>
        <p style="color: red"> Still under construction </p>
        <a class="project-link" href="#">Check it out</a>
    </div>
</div>

</div>
<div class="user">
  <div class="tech">
    <h2>Design</h2>
    <i class="devicon-html5-plain-wordmark"></i>
    <i class="devicon-bootstrap-plain-wordmark colored"></i>
    <i class="devicon-sass-original colored"></i>
    <p>
      
    </p>
  </div>
  <div class="tech">
    <h2>Code</h2>
    <i class="devicon-javascript-plain"></i>
    <i class="devicon-python-plain-wordmark"></i>
 

  </div>
  <div class="tech">
    <h2>Tools</h2>
    <i class="devicon-git-plain"></i>
  
    <svg viewBox="0 0 128 128" style="width: 10%; height: auto;">
        <path class="a" d="M95 2.3l30.5 12.3v98.7L94.8 125.7 45.8 77l-31 24.1L2.5 94.9V33.1l12.3-5.9 31 24.3ZM14.8 45.7V83.2l18.5-19Zm48.1 18.5L94.8 89.3V39Z"></path>
    </svg>
    <p>
        
    </p>
  </div>
</div>
