<div class="user-details">
    <h1> Featured Projects </h1>
</div>
<div class="user-projects">
    <div class="images-right">
        <img alt="mountains" src="{{ " /assets/img/Geospatial-image.jpg " | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
        <h3> Open Source Geospatial Analysis </h3>
        <ul>
            <li>Featured: Python, GDAL </li>
        </ul>
        <p>
            Various open source tools are available for geospatial analysis that are cross-platform. Various Python APIs have been developed to facilitate the task. 
        </p>
        <a class="project-link" href="projecting.html">Check it out</a>
    </div>
</div>
<div class="user-projects">
    <div class="images-left">
        <img alt="mountains" src="{{ '/assets/img/hydrology.jpeg' | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
        <h3> Water Resources </h3>
        <ul>
            <li> Featured: Hydrology, USGS </li>
        </ul>
        <p>
            Various open sources tools for facilitating climate analysis, hydrologic analysis and tools for environmental analysis have been presented here.
        </p>
        <p style="color: red"> Still under construction </p>
        <a class="project-link" href="#">Check it out</a>
    </div>
</div>

</div>
<div class="user">
  <div class="tech">
    <h2>Design</h2>
    <i class="devicon-html5-plain-wordmark"></i>
    <i class="devicon-bootstrap-plain-wordmark colored"></i>
    <i class="devicon-sass-original colored"></i>
    <p>
      
    </p>
  </div>
  <div class="tech">
    <h2>Code</h2>
    <i class="devicon-javascript-plain colored"></i>
    <i class="devicon-react-original-wordmark colored"></i>
    <i class="devicon-nodejs-plain-wordmark"></i>
    <p>
        
    </p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <i class="devicon-git-plain"></i>
    <i class="devicon-gulp-plain colored"></i>
    <i class="devicon-atom-original-wordmark"></i>
    <p>
        
    </p>
  </div>
</div>
