<!DOCTYPE html>
<html lang="en">
  {% include contents_header.html %}
<body>
    <!-- Navigation -->
  <nav class="navbar  navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="index.html">Home</a>
                <div class="row">
                    <div class="col-sm">
                        <a class="nav-link" href="index.html">Home</a>
                    </div>
                    <div class="nav-item col-sm">
                        <a class="nav-link" href="about.html">About</a>
                    </div>
                    <div class="nav-item col-sm">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </div>
                </div>
        </div>
    </nav>

    {{ content }}
    

</body>