<!doctype html>
<html lang="en">
{% include contents_header.html %}

<body>
    {% include navbar.html %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/assets/img/home-bg.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-100 col-md-100 mt-100 mx-auto">
                    <div class="site-heading">
                        <h1> </h1>
                        <span class="subheading"> </span>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto mt-4">
                {% for post in site.my_collections %}
                <div class="post-preview strong mt-4">
                    <a href="{{ post.url }}">
                        <h2 class="post-title">
                            {{ post.title }}
                        </h2>
                        <h4 class="post-subtitle">
                            {{ post.description }}
                        </h4>
                    </a>

                </div>
                <hr> 
                {% endfor %}
            </div>
        </div>
    </div>


</body>

</html>